.p {
    cursor: pointer;
    margin: 0px;
    font-size: 150%;
    font-family: Book antiqua;
}

.block {
    width: 480px;
    min-height: 102px;
    padding-left: 70px;
}

.blockButton {
    width: 450px;
    min-height: 102px;
    display: flex;
    justify-content: space-around;
}

#sum {
    height: 30px;
    width: 300px;
}

.sum {
    font-size: 70%;
}

.firstCoast {
    font-size: 70%;
}

.firstNumber {
    font-size: 70%;
}

.secondCoast {
    font-size: 70%;
}

.secondNumber {
    font-size: 70%;
}

.form {
    font-family: Avenir;
}

#button {
    height: 50px;
    width: 190px;
}
