#menu {
    width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: -8px;
}

.menu {
    margin: 5px;
    font-size: 50%;
}

#menuVertical {
    width: 100%;
    height: auto;
}

#menuVertical ul {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#menuVertical ul li {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

#menuVertical ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: Book antiqua;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2em;
    padding: 10px 15px;
    border-top: 1px solid #236A92;
    text-decoration: none;
}

#menuVertical ul li:first-child a {
    border: 0;
}

#menuVertical ul li a:hover, #menuVertical ul li:hover a {
    background: #382323;
}

#menuVertical ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: auto;
}

#menuVertical ul li:hover ul {
    display: block;
}

#menuVertical ul li ul li a {
    white-space: nowrap;
    text-transform: none;
    padding: 5px 20px;
}

#menuVertical ul li ul li a:hover {
    background: #6b4747;
    color: #fff;
}
